@import url("https://mattcheely.github.io/editor.css/style/editor.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap");

* {
  font-family: "Fira Code", sans-serif;
}

nav {
  margin-bottom: 1rem;
}

.nav-divider:after {
  content: " | ";
  color: #ec007c;
}

.demphasis {
  color: #999;
}

.section-heading {
  margin-top: 3rem;
}
